@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --branco-principal: #FFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.principal{
    background-image:url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    font-family:'inter';
    font-size: 24px;
    display: block;
    text-decoration: none;
}

.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 8px;
    text-decoration: none;
}

.container__aviso{
    color: var(--cinza-secundario);
    text-align: center;
    font-family: 'inter';
}